@model IEnumerable<C200_Official.Models.Video>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/brands.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/solid.min.css" rel="stylesheet" />


            @section scripts {
        <script>
            $(document).ready(function () {
                $('#mainTable').DataTable({
                    "order": [[2, "desc"]],
                    "scrollX": true,
                    "autoWidth": false
                });
            });

            function ConfirmDelete() {
            if (confirm("Are you sure you want to delete?") == false) {
                event.preventDefault();
            event.stopPropagation();
            return false;
            }
        }

    </script>
}


</head>

<h1>Your Created Video Post</h1>

<p>
    <a asp-action="Create" asp-route-ViewName="IndexMember">Create New</a>

</p>

<table id="mainTable" class="table table-striped table-hover" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr onclick="window.location='/Videos/IndexMemberDetails/@item.Id';" style="cursor: pointer;" width="100%">
            <td>
                @item.Title.Abbreviate()
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Link)

            @{
                var videoURL = item.Link;
            }

            <a href="@videoURL">@videoURL</a>

        </td>*@
            <td>
                @item.Description.Abbreviate()
            </td>
            <td>

                @if (item.Status.Equals("ArchivedByUser"))
                {
                    <div style="color:blueviolet"> <text>Archived</text> </div>

                }
                else if (item.Status.Equals("Pending"))
                {
                    <div style="color:red"> <text>Pending</text> </div>

                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Status)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>

                <a asp-controller="Videos" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fas fa-pencil-alt"></i>
                </a>

            </td>
        </tr>
        }
    </tbody>
</table>
