@model C200_Official.Models.Question

@using System.Security.Claims;
@using System.Web;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@{
    ViewData["Title"] = "Details";
}
<head>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/brands.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/solid.min.css" rel="stylesheet" />

    <script>
        function ConfirmArchive() {
            if (confirm("Are you sure you want to archive?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            }
        }

        function ConfirmDelete() {
            if (confirm("Are you sure you want to delete?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            }
        }
        function ConfirmUnarchive() {
            if (confirm("Are you sure you want to show on profile?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            }
        }
    </script>

</head>
<div>
    <h4>Details of Question</h4>
    <hr />
    <dl class="row">
        @if (TempData["Message"] != null)
        {
            @*<div class="col-sm-12">*@
            <div class="alert alert-@TempData["MsgType"] col-sm-12">
                @TempData["Message"]
            </div>
            @*</div>*@
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Content)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)  @Html.DisplayFor(model => model.Member.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        @if (User.Identity.IsAuthenticated)
        {
            @*<dd class="col-sm-10">*@
            @if ((int)ViewData["rm"] == 0)
            {
                <dd class="col-sm-10">
                    <form asp-action="AddRating" asp-controller="Questions" asp-route-QuestionID="@Model.Id">

                        <div class="form-group row">
                            <label class="control-label col-sm-3">Your Rating : </label>
                            <div class="col-sm-6">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input"
                                           id="1" name="rating" value="1" />
                                    <label class="form-check-label" for="1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input"
                                           id="2" name="rating" value="2" />
                                    <label class="form-check-label" for="2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input"
                                           id="3" name="rating" value="3" />
                                    <label class="form-check-label" for="3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input"
                                           id="4" name="rating" value="4" />
                                    <label class="form-check-label" for="4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input"
                                           id="5" name="rating" value="5" />
                                    <label class="form-check-label" for="5">5</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Rate Question" class="btn btn-primary  offset-sm-10 col-sm-2" />
                        </div>
                    </form>
                </dd>
            }
            else
            {
                int a = (int)ViewData["rm"];
                @*<text>Your Rating:</text> @a*@
                <dt class="col-sm-2">
                    Your Rating:
                </dt>
                <dd class="col-sm-10">
                    @a
                </dd>
            }

            <dd class="col-sm-10">
                <form asp-action="AddAnswer" asp-controller="Questions" asp-route-QuestionID="@Model.Id">

                    <div class="form-group">
                        <pre>


                                 </pre>
                        <label for="description" class="control-label">Post Answer Below:</label>
                        <input name="description" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Insert Answer" class="btn btn-primary offset-10 col-sm-2" />
                    </div>
                </form>
            </dd>


            @*</dd>*@
        }

        <!--ANSWER PART-->
        @{
            <dt class="col-sm-12">Answers</dt>
            <hr />

            foreach (Answer item in Model.Answers)

            {
                if (item.Status.Equals("Published")) // published article
                {
                    <dd class="col-sm-10">
                        @item.Description <br />
                        by @item.Member.FirstName
                        on @item.AnsweredDate
                        <hr />
                    </dd>
                }
                else
                {
                    //use a var to hold the id first
                    int theRealUserID = 0;

                    //put the real user id inside
                    var userId = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;

                    if (userId != null)
                    {
                        theRealUserID = Int32.Parse(userId);
                        if (item.MemberId == theRealUserID) //if this person is the writer
                        {
                            <dd class="col-sm-10">
                                @item.Description <br />
                                by @item.Member.FirstName
                                on @item.AnsweredDate
                                <div class="alert-danger col-sm-3 text-center"> @item.Status</div>
                                <hr />
                            </dd>
                        }
                    }

                }
            }
        }


    </dl>
</div>
<div>

    <a asp-action="Index">Back to Questions List</a>

</div>
